In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [19]:
# To import libraries
comp_deaths_hospitals = pd.read_csv("Complications and Deaths - Hospital.csv", low_memory=False)
readdmissions = pd.read_csv("Readmissions and Deaths - VA_07_10_2018.csv", low_memory=False)
medicare = pd.read_csv("Medicare Hospital Spending per Patient - Hospital.csv", low_memory=False)
u_visits = pd.read_csv("Unplanned Hospital Visits - Hospital.csv", low_memory=False)

In [20]:
# To narrow each dataframe down to state level, KS and MO
comp_deaths_hospitals_ks_mo = comp_deaths_hospitals[(comp_deaths_hospitals['State']=='KS')|(comp_deaths_hospitals['State']=='MO')]
readdmissions_ks_mo = readdmissions[(readdmissions['State']=='KS')|(readdmissions['State']=='MO')]
medicare_ks_mo = medicare[(medicare['State']=='KS')|(medicare['State']=='MO')]
u_visits_ks_mo = u_visits[(u_visits['State']=='KS')|(u_visits['State']=='MO')]

In [21]:
# To narrow each dataframe down to county, 
#comp_deaths_hospitals_county = comp_deaths_hospitals_ks_mo[comp_deaths_hospitals_ks_mo['County Name']==]
#readdmissions_county = readdmissions_ks_mo[(readdmissions_ks_mo['County']=='')]
#medicare_county = medicare_ks_mo[readdmissions_ks_mo['County']=='']
#u_visits_county = u_visits_ks_mo[u_visits_ks_mo['u_visits_ks_mo']=='']

In [22]:
comp_deaths_min = comp_deaths_hospitals[["Hospital Name", "Address", "City", "State", "County Name", "Measure Name", "Measure ID"]]
#comp_deaths_min.head()

df = comp_deaths_min.groupby(["State", "Measure Name"])["Measure ID"].count()

df.head()

State  Measure Name
AK     A wound that splits open after surgery on the abdomen or pelvis    22
       Accidental cuts and tears from medical treatment                   22
       Blood stream infection after surgery                               22
       Broken hip from a fall after surgery                               22
       Collapsed lung due to medical treatment                            22
Name: Measure ID, dtype: int64

In [23]:
readmit_min = readdmissions_ks_mo[["County", "Measure Name", "Measure ID", "Compare to National", "Denominator", "Score", "Lower Estimate", "Higher Estimate"]]
medi_min = medicare_ks_mo[["County Name", "Measure Name", "Measure ID", "Score"]]
u_min = u_visits_ks_mo[["County Name", "Measure Name", "Measure ID", "Compared to National", "Denominator", "Score", "Lower Estimate", "Higher Estimate" ]]

u_min.head()

,County Name,Measure Name,Measure ID,Compared to National,Denominator,Score,Lower Estimate,Higher Estimate
18360,CRAWFORD,Hospital return days for heart attack patients,EDAC_30_AMI,Average days per 100 discharges,68,-13.7,-31,6.9
18361,CRAWFORD,Hospital return days for heart failure patients,EDAC_30_HF,Average days per 100 discharges,142,-16.5,-39.4,8.4
18362,CRAWFORD,Hospital return days for pneumonia patients,EDAC_30_PN,Average days per 100 discharges,313,-16.7,-32.7,1.8
18363,CRAWFORD,Rate of unplanned hospital visits after colono...,OP-32,No Different than the National Rate,155,17.7,12.4,25.4
18364,CRAWFORD,Acute Myocardial Infarction (AMI) 30-Day Readm...,READM_30_AMI,No Different than the National Rate,68,15.9,12.7,20

In [24]:
readmit_min.head()

,County,Measure Name,Measure ID,Compare to National,Denominator,Score,Lower Estimate,Higher Estimate
252,SHAWNEE,Acute Myocardial Infarction (AMI) 30-Day Morta...,MORT-30-AMI,Number of Cases Too Small,NaN,NaN,NaN,NaN
253,SHAWNEE,Heart failure (HF) 30-Day Mortality Rate,MORT-30-HF,No Different than the National Rate,62.0,12.0,8.1,17.2
254,SHAWNEE,Pneumonia (PN) 30-Day Mortality Rate,MORT-30-PN,No Different than the National Rate,91.0,14.3,10.2,19.5
255,SHAWNEE,Acute Myocardial Infarction (AMI) 30-Day Readm...,READM-30-AMI,Number of Cases Too Small,NaN,NaN,NaN,NaN
256,SHAWNEE,Heart failure (HF) 30-Day Readmission Rate,READM-30-HF,No Different than the National Rate,77.0,20.8,16.5,26.0

In [25]:
medi_min.head()

,County Name,Measure Name,Measure ID,Score
1530,CRAWFORD,Medicare hospital spending per patient (Medica...,MSPB-1,0.99
1531,LEAVENWORTH,Medicare hospital spending per patient (Medica...,MSPB-1,0.88
1532,SALINE,Medicare hospital spending per patient (Medica...,MSPB-1,1.05
1533,ELLIS,Medicare hospital spending per patient (Medica...,MSPB-1,1.01
1534,FRANKLIN,Medicare hospital spending per patient (Medica...,MSPB-1,0.94

In [27]:
comp_deaths_min.head()

,Hospital Name,Address,City,State,County Name,Measure Name,Measure ID
0,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,HOUSTON,Rate of complications for hip/knee replacement...,COMP_HIP_KNEE
1,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,HOUSTON,Death rate for heart attack patients,MORT_30_AMI
2,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,HOUSTON,Death rate for CABG surgery patients,MORT_30_CABG
3,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,HOUSTON,Death rate for COPD patients,MORT_30_COPD
4,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,HOUSTON,Death rate for heart failure patients,MORT_30_HF

In [30]:
unadmitted_counts = u_min.groupby(["County Name", "Measure Name", "Score"])["Measure ID"].count()
unadmitted_counts.head(20)

County Name  Measure Name                                                                   Score
ADAIR        30-Day Hospital-Wide All-Cause Unplanned Readmission Rate                      15.1             1
             Acute Myocardial Infarction (AMI) 30-Day Readmission Rate                      16.6             1
             Heart failure (HF) 30-Day Readmission Rate                                     21.6             1
             Hospital return days for heart attack patients                                 8.1              1
             Hospital return days for heart failure patients                                -13.5            1
             Hospital return days for pneumonia patients                                    -6.6             1
             Pneumonia (PN) 30-Day Readmission Rate                                         16.2             1
             Rate of readmission after hip/knee replacement                                 3.9              1
             Rate of readmission for CABG                                                   Not Available    1
             Rate of readmission for chronic obstructive pulmonary disease (COPD) patients  19.1             1
             Rate of readmission for stroke patients                                        11.1             1
             Rate of unplanned hospital visits after colonoscopy (per 1,000 colonoscopies)  15.8             1
ALLEN        30-Day Hospital-Wide All-Cause Unplanned Readmission Rate                      15.5             1
             Acute Myocardial Infarction (AMI) 30-Day Readmission Rate                      Not Available    1
             Heart failure (HF) 30-Day Readmission Rate                                     22.5             1
             Hospital return days for heart attack patients                                 Not Available    1
             Hospital return days for heart failure patients                                -27.6            1
             Hospital return days for pneumonia patients                                    17.1             1
             Pneumonia (PN) 30-Day Readmission Rate                                         16.7             1
             Rate of readmission after hip/knee replacement                                 Not Available    1
Name: Measure ID, dtype: int64

In [31]:
deaths = comp_deaths_min.groupby(["County Name", "Measure Name"])["Measure ID"].count()
deaths.head(20)

County Name  Measure Name
ABBEVILLE    A wound that splits open after surgery on the abdomen or pelvis             1
             Accidental cuts and tears from medical treatment                            1
             Blood stream infection after surgery                                        1
             Broken hip from a fall after surgery                                        1
             Collapsed lung due to medical treatment                                     1
             Death rate for CABG surgery patients                                        1
             Death rate for COPD patients                                                1
             Death rate for heart attack patients                                        1
             Death rate for heart failure patients                                       1
             Death rate for pneumonia patients                                           1
             Death rate for stroke patients                                              1
             Deaths among Patients with Serious Treatable Complications after Surgery    1
             Perioperative Hemorrhage or Hematoma Rate                                   1
             Postoperative Acute Kidney Injury Requiring Dialysis Rate                   1
             Postoperative Respiratory Failure Rate                                      1
             Pressure sores                                                              1
             Rate of complications for hip/knee replacement patients                     1
             Serious blood clots after surgery                                           1
             Serious complications                                                       1
ACADIA       A wound that splits open after surgery on the abdomen or pelvis             2
Name: Measure ID, dtype: int64

In [35]:
readmi = readmit_min.groupby(["County", "Measure Name"])["Measure ID"].count()
readmi.head(20)

County       Measure Name
BOONE        Acute Myocardial Infarction (AMI) 30-Day Mortality Rate      1
             Acute Myocardial Infarction (AMI) 30-Day Readmission Rate    1
             Heart failure (HF) 30-Day Mortality Rate                     1
             Heart failure (HF) 30-Day Readmission Rate                   1
             Pneumonia (PN) 30-Day Mortality Rate                         1
             Pneumonia (PN) 30-Day Readmission Rate                       1
BUTLER       Acute Myocardial Infarction (AMI) 30-Day Mortality Rate      1
             Acute Myocardial Infarction (AMI) 30-Day Readmission Rate    1
             Heart failure (HF) 30-Day Mortality Rate                     1
             Heart failure (HF) 30-Day Readmission Rate                   1
             Pneumonia (PN) 30-Day Mortality Rate                         1
             Pneumonia (PN) 30-Day Readmission Rate                       1
JACKSON      Acute Myocardial Infarction (AMI) 30-Day Mortality Rate      1
             Acute Myocardial Infarction (AMI) 30-Day Readmission Rate    1
             Heart failure (HF) 30-Day Mortality Rate                     1
             Heart failure (HF) 30-Day Readmission Rate                   1
             Pneumonia (PN) 30-Day Mortality Rate                         1
             Pneumonia (PN) 30-Day Readmission Rate                       1
LEAVENWORTH  Acute Myocardial Infarction (AMI) 30-Day Mortality Rate      1
             Acute Myocardial Infarction (AMI) 30-Day Readmission Rate    1
Name: Measure ID, dtype: int64