In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [37]:
# To import libraries
comp_deaths_hospitals = pd.read_csv("Complications and Deaths - Hospital.csv", low_memory=False)
readdmissions = pd.read_csv("Readmissions and Deaths - VA_07_10_2018.csv", low_memory=False)
medicare = pd.read_csv("Medicare Hospital Spending per Patient - Hospital.csv", low_memory=False)
u_visits = pd.read_csv("Unplanned Hospital Visits - Hospital.csv", low_memory=False)

# Data Cleaning

## To narrow each dataframe down to state level, KS and MO

In [38]:
comp_deaths_hospitals_ks_mo = comp_deaths_hospitals[(comp_deaths_hospitals['State']=='KS')|(comp_deaths_hospitals['State']=='MO')]
readdmissions_ks_mo = readdmissions[(readdmissions['State']=='KS')|(readdmissions['State']=='MO')]
medicare_ks_mo = medicare[(medicare['State']=='KS')|(medicare['State']=='MO')]
u_visits_ks_mo = u_visits[(u_visits['State']=='KS')|(u_visits['State']=='MO')]

## To narrow each dataframe down to county level, JACKSON, JOHNSON, CLAY, LEAVENWORTH, WYANDOTTE, SEDGWICK

In [39]:
comp_deaths_hospitals_county = comp_deaths_hospitals_ks_mo[(comp_deaths_hospitals['County Name']=='JACKSON')|
                                               (comp_deaths_hospitals['County Name']=='JOHNSON')|
                                               (comp_deaths_hospitals['County Name']=='CLAY')|
                                               (comp_deaths_hospitals['County Name']=='LEAVENWORTH')|
                                               (comp_deaths_hospitals['County Name']=='SEDGWICK')|
                                               (comp_deaths_hospitals['County Name']=='WYANDOTTE')]

readdmissions_county = readdmissions_ks_mo[(readdmissions['County']=='JACKSON')|
                                    (readdmissions['County']=='JOHNSON')|
                                    (readdmissions['County']=='CLAY')|
                                    (readdmissions['County']=='LEAVENWORTH')|
                                    (readdmissions['County']=='SEDGWICK')|
                                    (readdmissions['County']=='WYANDOTTE')]
                                      
medicare_county = medicare_ks_mo[(medicare['County Name']=='JACKSON')|
                          (medicare['County Name']=='JOHNSON')|
                          (medicare['County Name']=='CLAY')|
                          (medicare['County Name']=='LEAVENWORTH')|
                          (medicare['County Name']=='SEDGWICK')|
                          (medicare['County Name']=='WYANDOTTE')]

u_visits_county = u_visits_ks_mo[(u_visits['County Name']=='JACKSON')|
                          (u_visits['County Name']=='JOHNSON')|
                          (u_visits['County Name']=='CLAY')|
                          (u_visits['County Name']=='LEAVENWORTH')|
                          (u_visits['County Name']=='SEDGWICK')|
                          (u_visits['County Name']=='WYANDOTTE')]

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  del sys.path[0]
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

## To select all columns that seems useful

In [40]:
# Renameing "County" columns to "County Name"
readdmissions_county = readdmissions_county.rename(columns={'County':'County Name'})

In [41]:
comp_deaths_hospitals_county = comp_deaths_hospitals_county[['Provider ID', 'Hospital Name', 'Address', 'City',
                                                             'State', 'ZIP Code','County Name', 'Measure Name', 
                                                             'Measure ID','Compared to National', 'Score']]

readdmissions_county = readdmissions_county[['Provider_ID', 'Hospital Name', 'Address', 'City', 'State', 'ZIP Code',
                                             'County Name', 'Measure Name', 'Measure ID', 'Score']]

medicare_county = medicare_county[['Provider ID', 'Hospital Name', 'Address', 'City', 'State', 'ZIP Code',
                                   'County Name', 'Measure Name', 'Measure ID', 
                                   'Score']]

u_visits_county = u_visits_county[['Provider ID', 'Hospital Name', 'Address', 'City', 'State', 'ZIP Code',
                                   'County Name', 'Measure Name', 'Measure ID','Compared to National', 
                                   'Score']]

## To take care of missing scores

### To calculate average scores based on county for missing score values

In [42]:
# Converting object(data type) to numeric
# df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')
comp_deaths_hospitals_county['Score'] = comp_deaths_hospitals_county['Score'].apply(pd.to_numeric, errors = 'coerce')
readdmissions_county['Score'] = readdmissions_county['Score'].apply(pd.to_numeric, errors = 'coerce')
medicare_county['Score'] = medicare_county['Score'].apply(pd.to_numeric, errors = 'coerce')
u_visits_county['Score'] = u_visits_county['Score'].apply(pd.to_numeric, errors = 'coerce')

In [43]:
# Calculating mean and median Score by counties
comp_deaths_hospitals_score_mean = comp_deaths_hospitals_county.groupby(by='County Name')['Score'].mean()
comp_deaths_hospitals_score_median = comp_deaths_hospitals_county.groupby(by='County Name')['Score'].median()

readdmissions_group_mean = readdmissions_county.groupby(by='County Name')['Score'].mean()
readdmissions_group_median = readdmissions_county.groupby(by='County Name')['Score'].median()

medicare_score_mean = medicare_county.groupby(by='County Name')['Score'].mean()
medicare_score_median = medicare_county.groupby(by='County Name')['Score'].median()

u_visits_score_mean = u_visits_county.groupby(by='County Name')['Score'].mean()
u_visits_score_median = u_visits_county.groupby(by='County Name')['Score'].median()

In [44]:
comp_deaths_score_summary = pd.DataFrame([comp_deaths_hospitals_score_mean,
                                          comp_deaths_hospitals_score_median], index=['Mean', 'Median'])
comp_deaths_score_summary = comp_deaths_score_summary.transpose()

readdmissions_score_summary = pd.DataFrame([readdmissions_group_mean,
                                            readdmissions_group_median], index=['Mean', 'Median'])
readdmissions_score_summary = readdmissions_score_summary.transpose()

medicare_score_summary = pd.DataFrame([medicare_score_mean,
                                       medicare_score_median], index=['Mean', 'Median'])
medicare_score_summary = medicare_score_summary.transpose()

u_visits_score_summary = pd.DataFrame([u_visits_score_mean,
                                       u_visits_score_median], index=['Mean', 'Median'])
u_visits_score_summary = u_visits_score_summary.transpose()

In [30]:
# Display Dataframe side by side for improving readbility

In [26]:
comp_deaths_score_summary.transpose()

                  Mean  Median
County Name
CLAY         13.483902   3.430
JACKSON      11.950183   2.980
JOHNSON       9.119859   2.560
LEAVENWORTH   5.007083   2.590
SEDGWICK      9.539053   2.280
WYANDOTTE    10.942632   2.985

In [34]:
# df["value"] = df.groupby("name").transform(lambda x: x.fillna(x.mean()))

def comp_deaths_median_socre(cols):
    Score = cols[0]
    County_Name = cols[1]
    
    if County_Name == 'JACKSON':
         if Score == 'NaN':
            return 2.980
    elif County_Name == 'JOHNSON':
        if Score == 'NaN':
            return 2.560
    elif County_Name == 'CLAY':
        if Score == 'NaN':
            return 3.430
    elif County_Name == 'LEAVENWORTH':
        if Score == 'NaN':
            return 2.590
    elif County_Name == 'SEDGWICK':
        if Score == 'NaN':
            return 2.280
    elif County_Name == 'WYANDOTTE':
        if Score == 'NaN':
            return 2.985
    else:
        return 'Score'

comp_deaths_hospitals_county['Score'] = (comp_deaths_hospitals_county[['Score', 'County Name']]
                                        .apply(comp_deaths_median_socre, axis = 1))

In [35]:
comp_deaths_hospitals_county.head()

,Provider ID,Hospital Name,Address,City,State,ZIP Code,County Name,Measure Name,Measure ID,Compared to National,Score
29089,170009,SAINT JOHN HOSPITAL,3500 SOUTH 4TH STREET,LEAVENWORTH,KS,66048,LEAVENWORTH,Rate of complications for hip/knee replacement...,COMP_HIP_KNEE,Not Available,None
29090,170009,SAINT JOHN HOSPITAL,3500 SOUTH 4TH STREET,LEAVENWORTH,KS,66048,LEAVENWORTH,Death rate for heart attack patients,MORT_30_AMI,Number of Cases Too Small,None
29091,170009,SAINT JOHN HOSPITAL,3500 SOUTH 4TH STREET,LEAVENWORTH,KS,66048,LEAVENWORTH,Death rate for CABG surgery patients,MORT_30_CABG,Not Available,None
29092,170009,SAINT JOHN HOSPITAL,3500 SOUTH 4TH STREET,LEAVENWORTH,KS,66048,LEAVENWORTH,Death rate for COPD patients,MORT_30_COPD,No Different than the National Rate,None
29093,170009,SAINT JOHN HOSPITAL,3500 SOUTH 4TH STREET,LEAVENWORTH,KS,66048,LEAVENWORTH,Death rate for heart failure patients,MORT_30_HF,No Different than the National Rate,None

### To replace missing value, NaN, with LEAVENWORTH_avg_score, 15.67 (Imconplete)

In [32]:
# Replace NaN value with LEAVENWORTH_avg_score

# df["value"] = df.groupby("name").transform(lambda x: x.fillna(x.mean()))

## To create columns for average income and median income

### Average income and median income

In [11]:
avg_income = {'Jackson ':68982,
             'Johnson ':109320,
             'Clay ':71893,
             'Wyandotte ':42783,
             'Leavenworth ':82803,
             'Sedgwick':70101}

median_income = {'Jackson ':50652,
                'Johnson ':81121,
                'Clay ':55434,
                'Wyandotte ':53135,
                'Leavenworth ':70022,
                'Sedgwick':52841}

### To create columns with null value

In [12]:
comp_deaths_hospitals_county['Avg Income'] = np.nan
readdmissions_county['Avg Income'] = np.nan
medicare_county['Avg Income'] = np.nan
u_visits_county['Avg Income'] = np.nan

In [13]:
comp_deaths_hospitals_county['Median Income'] = np.nan
readdmissions_county['Median Income'] = np.nan
medicare_county['Median Income'] = np.nan
u_visits_county['Median Income'] = np.nan

### To create a function and replace null values with average income according to County

In [14]:
# Function to replace null values
def impute_avg_income(cols):
    Avg_Income = cols[0]
    County_Name = cols[1]
    
    if County_Name == 'JACKSON':
        return 68982
    elif County_Name == 'JOHNSON':
        return 109320
    elif County_Name == 'CLAY':
        return 71893
    elif County_Name == 'LEAVENWORTH':
        return 82803
    elif County_Name == 'SEDGWICK':
        return 70101
    else:
        return 42783
    
def impute_median_income(cols):
    Median_Income = cols[0]
    County_Name = cols[1]
    
    if County_Name == 'JACKSON':
        return 50652
    elif County_Name == 'JOHNSON':
        return 81121
    elif County_Name == 'CLAY':
        return 55434
    elif County_Name == 'LEAVENWORTH':
        return 70022
    elif County_Name == 'SEDGWICK':
        return 52841
    else:
        return 42783

### To apply the function to "Avg Income" and "Median Income" columns

In [15]:
comp_deaths_hospitals_county['Avg Income'] = (comp_deaths_hospitals_county[['Avg Income', 'County Name']]
                                              .apply(impute_avg_income, axis=1))

readdmissions_county['Avg Income'] = (readdmissions_county[['Avg Income', 'County Name']]
                                      .apply(impute_avg_income, axis=1))

medicare_county['Avg Income'] = (medicare_county[['Avg Income', 'County Name']]
                                 .apply(impute_avg_income, axis=1))

u_visits_county['Avg Income'] = (u_visits_county[['Avg Income', 'County Name']]
                                 .apply(impute_avg_income, axis=1))

In [16]:
comp_deaths_hospitals_county['Median Income'] = (comp_deaths_hospitals_county[['Median Income', 'County Name']]
                                                 .apply(impute_median_income, axis=1))

readdmissions_county['Median Income'] = (readdmissions_county[['Median Income', 'County Name']]
                                         .apply(impute_median_income, axis=1))

medicare_county['Median Income'] = (medicare_county[['Median Income', 'County Name']]
                                    .apply(impute_median_income, axis=1))

u_visits_county['Median Income'] = (u_visits_county[['Median Income', 'County Name']]
                                    .apply(impute_median_income, axis=1))

In [23]:
medicare_county['County Name'].value_counts()

JOHNSON        11
JACKSON        11
SEDGWICK        6
CLAY            4
LEAVENWORTH     2
WYANDOTTE       2
Name: County Name, dtype: int64

In [58]:
readmit_min = readdmissions_county[["County", "Measure Name", "Measure ID", "Compare to National", "Denominator", "Score", "Lower Estimate", "Higher Estimate"]]
medi_min = medicare_county[["County Name", "Measure Name", "Measure ID", "Score"]]
u_min = u_visits_county[["County Name", "Measure Name", "Measure ID", "Compared to National", "Denominator", "Score", "Lower Estimate", "Higher Estimate" ]]

u_min.head()

,County Name,Measure Name,Measure ID,Compared to National,Denominator,Score,Lower Estimate,Higher Estimate
18372,LEAVENWORTH,Hospital return days for heart attack patients,EDAC_30_AMI,Number of Cases Too Small,Not Available,Not Available,Not Available,Not Available
18373,LEAVENWORTH,Hospital return days for heart failure patients,EDAC_30_HF,Average days per 100 discharges,76,1.8,-28.9,36.4
18374,LEAVENWORTH,Hospital return days for pneumonia patients,EDAC_30_PN,Fewer days than average per 100 discharges,154,-26.4,-44.9,-3.7
18375,LEAVENWORTH,Rate of unplanned hospital visits after colono...,OP-32,Number of Cases Too Small,Not Available,Not Available,Not Available,Not Available
18376,LEAVENWORTH,Acute Myocardial Infarction (AMI) 30-Day Readm...,READM_30_AMI,Number of Cases Too Small,Not Available,Not Available,Not Available,Not Available

In [59]:
readmit_min.head()

,County,Measure Name,Measure ID,Compare to National,Denominator,Score,Lower Estimate,Higher Estimate
258,LEAVENWORTH,Acute Myocardial Infarction (AMI) 30-Day Morta...,MORT-30-AMI,Number of Cases Too Small,NaN,NaN,NaN,NaN
259,LEAVENWORTH,Heart failure (HF) 30-Day Mortality Rate,MORT-30-HF,No Different than the National Rate,84.0,9.5,6.4,13.8
260,LEAVENWORTH,Pneumonia (PN) 30-Day Mortality Rate,MORT-30-PN,No Different than the National Rate,75.0,15.2,11.1,20.2
261,LEAVENWORTH,Acute Myocardial Infarction (AMI) 30-Day Readm...,READM-30-AMI,Number of Cases Too Small,NaN,NaN,NaN,NaN
262,LEAVENWORTH,Heart failure (HF) 30-Day Readmission Rate,READM-30-HF,No Different than the National Rate,98.0,21.9,17.7,26.9

In [60]:
medi_min.head()

,County Name,Measure Name,Measure ID,Score
1531,LEAVENWORTH,Medicare hospital spending per patient (Medica...,MSPB-1,0.88
1541,WYANDOTTE,Medicare hospital spending per patient (Medica...,MSPB-1,0.98
1542,JOHNSON,Medicare hospital spending per patient (Medica...,MSPB-1,0.97
1549,JOHNSON,Medicare hospital spending per patient (Medica...,MSPB-1,1.01
1556,LEAVENWORTH,Medicare hospital spending per patient (Medica...,MSPB-1,0.91

In [61]:
comp_deaths_min.head()

,Hospital Name,Address,City,State,County Name,Measure Name,Measure ID
29089,SAINT JOHN HOSPITAL,3500 SOUTH 4TH STREET,LEAVENWORTH,KS,LEAVENWORTH,Rate of complications for hip/knee replacement...,COMP_HIP_KNEE
29090,SAINT JOHN HOSPITAL,3500 SOUTH 4TH STREET,LEAVENWORTH,KS,LEAVENWORTH,Death rate for heart attack patients,MORT_30_AMI
29091,SAINT JOHN HOSPITAL,3500 SOUTH 4TH STREET,LEAVENWORTH,KS,LEAVENWORTH,Death rate for CABG surgery patients,MORT_30_CABG
29092,SAINT JOHN HOSPITAL,3500 SOUTH 4TH STREET,LEAVENWORTH,KS,LEAVENWORTH,Death rate for COPD patients,MORT_30_COPD
29093,SAINT JOHN HOSPITAL,3500 SOUTH 4TH STREET,LEAVENWORTH,KS,LEAVENWORTH,Death rate for heart failure patients,MORT_30_HF

In [62]:
unadmitted_counts = u_min.groupby(["County Name", "Measure Name", "Score"])["Measure ID"].count()
unadmitted_counts.head(20)

County Name  Measure Name                                               Score
CLAY         30-Day Hospital-Wide All-Cause Unplanned Readmission Rate  15.3             1
                                                                        15.8             1
                                                                        17               1
                                                                        Not Available    1
             Acute Myocardial Infarction (AMI) 30-Day Readmission Rate  16               1
                                                                        16.8             1
                                                                        Not Available    2
             Heart failure (HF) 30-Day Readmission Rate                 20.5             1
                                                                        21               1
                                                                        22.5             1
                                                                        Not Available    1
             Hospital return days for heart attack patients             14.3             1
                                                                        3.8              1
                                                                        Not Available    2
             Hospital return days for heart failure patients            -18.4            1
                                                                        -25.6            1
                                                                        16.2             1
                                                                        Not Available    1
             Hospital return days for pneumonia patients                -20.5            1
                                                                        12.8             1
Name: Measure ID, dtype: int64

In [63]:
deaths = comp_deaths_min.groupby(["County Name", "Measure Name"])["Measure ID"].count()
deaths.head(20)

County Name  Measure Name
CLAY         A wound that splits open after surgery on the abdomen or pelvis              4
             Accidental cuts and tears from medical treatment                             4
             Blood stream infection after surgery                                         4
             Broken hip from a fall after surgery                                         4
             Collapsed lung due to medical treatment                                      4
             Death rate for CABG surgery patients                                         4
             Death rate for COPD patients                                                 4
             Death rate for heart attack patients                                         4
             Death rate for heart failure patients                                        4
             Death rate for pneumonia patients                                            4
             Death rate for stroke patients                                               4
             Deaths among Patients with Serious Treatable Complications after Surgery     4
             Perioperative Hemorrhage or Hematoma Rate                                    4
             Postoperative Acute Kidney Injury Requiring Dialysis Rate                    4
             Postoperative Respiratory Failure Rate                                       4
             Pressure sores                                                               4
             Rate of complications for hip/knee replacement patients                      4
             Serious blood clots after surgery                                            4
             Serious complications                                                        4
JACKSON      A wound that splits open after surgery on the abdomen or pelvis             11
Name: Measure ID, dtype: int64

In [64]:
readmi = readmit_min.groupby(["County", "Measure Name"])["Measure ID"].count()
readmi.head(20)

County       Measure Name
JACKSON      Acute Myocardial Infarction (AMI) 30-Day Mortality Rate      1
             Acute Myocardial Infarction (AMI) 30-Day Readmission Rate    1
             Heart failure (HF) 30-Day Mortality Rate                     1
             Heart failure (HF) 30-Day Readmission Rate                   1
             Pneumonia (PN) 30-Day Mortality Rate                         1
             Pneumonia (PN) 30-Day Readmission Rate                       1
LEAVENWORTH  Acute Myocardial Infarction (AMI) 30-Day Mortality Rate      1
             Acute Myocardial Infarction (AMI) 30-Day Readmission Rate    1
             Heart failure (HF) 30-Day Mortality Rate                     1
             Heart failure (HF) 30-Day Readmission Rate                   1
             Pneumonia (PN) 30-Day Mortality Rate                         1
             Pneumonia (PN) 30-Day Readmission Rate                       1
Name: Measure ID, dtype: int64

In [48]:
# readmit_min, u_min, medi_min
# readmit_min = readmit_min.rename(columns={"County":"County Name"})
# merge_alpha = pd.merge(readmit_min, medi_min, on=["County Name"], suffixes=(" Readmission", " Medicare"))
# merge_one = pd.merge(merge_alpha, u_min, on=["County Name"], suffixes=(" Readmission", " Unexpected Visit"))
# merge_one.head(10)

,County Name,Measure Name Readmission,Measure ID Readmission,Compare to National,Denominator Readmission,Score Readmission,Lower Estimate Readmission,Higher Estimate Readmission,Measure Name Medicare,Measure ID Medicare,Score Medicare,Measure Name,Measure ID,Compared to National,Denominator Unexpected Visit,Score,Lower Estimate Unexpected Visit,Higher Estimate Unexpected Visit
0,SHAWNEE,Acute Myocardial Infarction (AMI) 30-Day Morta...,MORT-30-AMI,Number of Cases Too Small,NaN,NaN,NaN,NaN,Medicare hospital spending per patient (Medica...,MSPB-1,0.98,Hospital return days for heart attack patients,EDAC_30_AMI,Average days per 100 discharges,181,-9.5,-24.7,8
1,SHAWNEE,Acute Myocardial Infarction (AMI) 30-Day Morta...,MORT-30-AMI,Number of Cases Too Small,NaN,NaN,NaN,NaN,Medicare hospital spending per patient (Medica...,MSPB-1,0.98,Hospital return days for heart failure patients,EDAC_30_HF,Average days per 100 discharges,414,-12.7,-30,4.3
2,SHAWNEE,Acute Myocardial Infarction (AMI) 30-Day Morta...,MORT-30-AMI,Number of Cases Too Small,NaN,NaN,NaN,NaN,Medicare hospital spending per patient (Medica...,MSPB-1,0.98,Hospital return days for pneumonia patients,EDAC_30_PN,Fewer days than average per 100 discharges,467,-15,-29,-2.6
3,SHAWNEE,Acute Myocardial Infarction (AMI) 30-Day Morta...,MORT-30-AMI,Number of Cases Too Small,NaN,NaN,NaN,NaN,Medicare hospital spending per patient (Medica...,MSPB-1,0.98,Rate of unplanned hospital visits after colono...,OP-32,No Different than the National Rate,96,15.8,11.1,22.3
4,SHAWNEE,Acute Myocardial Infarction (AMI) 30-Day Morta...,MORT-30-AMI,Number of Cases Too Small,NaN,NaN,NaN,NaN,Medicare hospital spending per patient (Medica...,MSPB-1,0.98,Acute Myocardial Infarction (AMI) 30-Day Readm...,READM_30_AMI,No Different than the National Rate,181,14.4,11.7,17.7
5,SHAWNEE,Acute Myocardial Infarction (AMI) 30-Day Morta...,MORT-30-AMI,Number of Cases Too Small,NaN,NaN,NaN,NaN,Medicare hospital spending per patient (Medica...,MSPB-1,0.98,Rate of readmission for CABG,READM_30_CABG,No Different than the National Rate,57,13.5,10,18.3
6,SHAWNEE,Acute Myocardial Infarction (AMI) 30-Day Morta...,MORT-30-AMI,Number of Cases Too Small,NaN,NaN,NaN,NaN,Medicare hospital spending per patient (Medica...,MSPB-1,0.98,Rate of readmission for chronic obstructive pu...,READM_30_COPD,No Different than the National Rate,257,20.1,17.1,23.6
7,SHAWNEE,Acute Myocardial Infarction (AMI) 30-Day Morta...,MORT-30-AMI,Number of Cases Too Small,NaN,NaN,NaN,NaN,Medicare hospital spending per patient (Medica...,MSPB-1,0.98,Heart failure (HF) 30-Day Readmission Rate,READM_30_HF,No Different than the National Rate,414,19.5,16.7,22.6
8,SHAWNEE,Acute Myocardial Infarction (AMI) 30-Day Morta...,MORT-30-AMI,Number of Cases Too Small,NaN,NaN,NaN,NaN,Medicare hospital spending per patient (Medica...,MSPB-1,0.98,Rate of readmission after hip/knee replacement,READM_30_HIP_KNEE,No Different than the National Rate,573,4.2,3.1,5.6
9,SHAWNEE,Acute Myocardial Infarction (AMI) 30-Day Morta...,MORT-30-AMI,Number of Cases Too Small,NaN,NaN,NaN,NaN,Medicare hospital spending per patient (Medica...,MSPB-1,0.98,30-Day Hospital-Wide All-Cause Unplanned Readm...,READM_30_HOSP_WIDE,No Different than the National Rate,2137,14.9,13.9,15.9

In [65]:
merge_one_scores = merge_one[["County Name", "Measure Name", "Score Readmission", "Score", "Score Medicare"]]
merge_one_scores

,County Name,Measure Name,Score Readmission,Score,Score Medicare
0,SHAWNEE,Hospital return days for heart attack patients,NaN,-9.5,0.98
1,SHAWNEE,Hospital return days for heart failure patients,NaN,-12.7,0.98
2,SHAWNEE,Hospital return days for pneumonia patients,NaN,-15,0.98
3,SHAWNEE,Rate of unplanned hospital visits after colono...,NaN,15.8,0.98
4,SHAWNEE,Acute Myocardial Infarction (AMI) 30-Day Readm...,NaN,14.4,0.98
5,SHAWNEE,Rate of readmission for CABG,NaN,13.5,0.98
6,SHAWNEE,Rate of readmission for chronic obstructive pu...,NaN,20.1,0.98
7,SHAWNEE,Heart failure (HF) 30-Day Readmission Rate,NaN,19.5,0.98
8,SHAWNEE,Rate of readmission after hip/knee replacement,NaN,4.2,0.98
9,SHAWNEE,30-Day Hospital-Wide All-Cause Unplanned Readm...,NaN,14.9,0.98
10,SHAWNEE,Pneumonia (PN) 30-Day Readmission Rate,NaN,15.2,0.98
11,SHAWNEE,Rate of readmission for stroke patients,NaN,12.3,0.98
12,SHAWNEE,Hospital return days for heart attack patients,NaN,-7.1,0.98
13,SHAWNEE,Hospital return days for heart failure patients,NaN,1,0.98
14,SHAWNEE,Hospital return days for pneumonia patients,NaN,-2.2,0.98
15,SHAWNEE,Rate of unplanned hospital visits after colono...,NaN,Not Available,0.98
16,SHAWNEE,Acute Myocardial Infarction (AMI) 30-Day Readm...,NaN,14.8,0.98
17,SHAWNEE,Rate of readmission for CABG,NaN,13.8,0.98
18,SHAWNEE,Rate of readmission for chronic obstructive pu...,NaN,20.4,0.98
19,SHAWNEE,Heart failure (HF) 30-Day Readmission Rate,NaN,21.3,0.98
20,SHAWNEE,Rate of readmission after hip/knee replacement,NaN,4.6,0.98
21,SHAWNEE,30-Day Hospital-Wide All-Cause Unplanned Readm...,NaN,15.2,0.98
22,SHAWNEE,Pneumonia (PN) 30-Day Readmission Rate,NaN,17.6,0.98
23,SHAWNEE,Rate of readmission for stroke patients,NaN,12.1,0.98
24,SHAWNEE,Acute Myocardial Infarction (AMI) 30-Day Readm...,NaN,Not Available,0.98
25,SHAWNEE,Heart failure (HF) 30-Day Readmission Rate,NaN,20.8,0.98
26,SHAWNEE,Pneumonia (PN) 30-Day Readmission Rate,NaN,15.3,0.98
27,SHAWNEE,Hospital return days for heart attack patients,NaN,-9.5,1
28,SHAWNEE,Hospital return days for heart failure patients,NaN,-12.7,1
29,SHAWNEE,Hospital return days for pneumonia patients,NaN,-15,1
...,...,...,...,...,...
13776,BOONE,Acute Myocardial Infarction (AMI) 30-Day Readm...,19.2,19.6,0.97
13777,BOONE,Heart failure (HF) 30-Day Readmission Rate,19.2,26.3,0.97
13778,BOONE,Pneumonia (PN) 30-Day Readmission Rate,19.2,19.2,0.97
13779,BOONE,Hospital return days for heart attack patients,19.2,-11.7,0.99
13780,BOONE,Hospital return days for heart failure patients,19.2,-7.2,0.99
13781,BOONE,Hospital return days for pneumonia patients,19.2,14.2,0.99
13782,BOONE,Rate of unplanned hospital visits after colono...,19.2,16.1,0.99
13783,BOONE,Acute Myocardial Infarction (AMI) 30-Day Readm...,19.2,13.6,0.99
13784,BOONE,Rate of readmission for CABG,19.2,11.4,0.99
13785,BOONE,Rate of readmission for chronic obstructive pu...,19.2,18.5,0.99
13786,BOONE,Heart failure (HF) 30-Day Readmission Rate,19.2,19.7,0.99
13787,BOONE,Rate of readmission after hip/knee replacement,19.2,3.9,0.99
13788,BOONE,30-Day Hospital-Wide All-Cause Unplanned Readm...,19.2,14,0.99
13789,BOONE,Pneumonia (PN) 30-Day Readmission Rate,19.2,17.1,0.99
13790,BOONE,Rate of readmission for stroke patients,19.2,11.2,0.99
13791,BOONE,Hospital return days for heart attack patients,19.2,6.9,0.99
13792,BOONE,Hospital return days for heart failure patients,19.2,-2.7,0.99
13793,BOONE,Hospital return days for pneumonia patients,19.2,-8.7,0.99
13794,BOONE,Rate of unplanned hospital visits after colono...,19.2,15.9,0.99
13795,BOONE,Acute Myocardial Infarction (AMI) 30-Day Readm...,19.2,17.1,0.99
13796,BOONE,Rate of readmission for CABG,19.2,11.7,0.99
13797,BOONE,Rate of readmission for chronic obstructive pu...,19.2,19.2,0.99
13798,BOONE,Heart failure (HF) 30-Day Readmission Rate,19.2,20.3,0.99
13799,BOONE,Rate of readmission after hip/knee replacement,19.2,4.5,0.99
13800,BOONE,30-Day Hospital-Wide All-Cause Unplanned Readm...,19.2,16.3,0.99
13801,BOONE,Pneumonia (PN) 30-Day Readmission Rate,19.2,16,0.99
13802,BOONE,Rate of readmission for stroke patients,19.2,12.4,0.99
13803,BOONE,Acute Myocardial Infarction (AMI) 30-Day Readm...,19.2,19.6,0.99
13804,BOONE,Heart failure (HF) 30-Day Readmission Rate,19.2,26.3,0.99
13805,BOONE,Pneumonia (PN) 30-Day Readmission Rate,19.2,19.2,0.99

In [ ]:
kansas = [559836, 503438, 179060, 8523, ]